@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.error-message {
    color: red;
}

.m-20 {
    margin: 20px;
}

.book-review {
    margin: 20px;
    border-width: 1px;
}

.book-summary {
    margin: 20px;
}

.link {
    font-weight: bold;
    font-style: italic;
}

.link:hover {
    color: hotpink;
    font-weight: bolder;
}

.center {
    text-align: center;
}

nav {
    text-align: center;
}