.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.beginning {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
.end {
  display: flex;
  justify-content: end;
  align-items: end;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.comment {
  border: 1px;
  border-style: solid;
  margin: 10px 0px 10px 0px;
}

.comment-header {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
}

.comment-body {
  margin-left: 10px;
}

.comment-footer {
  margin-top: 6px;
  text-align: right;
  font-size: 12px;
  font-style: italic;
}

.button {
  margin: 5px 10px 5px 0px;
  border: 2px;
  border-style: solid;
  border-color: black;
  color: black;
}

.active {
  color: white;
  background-color: black;
}

.mw-70 {
  max-width: 70%;
}
.marginlr-auto {
  margin-left: auto;
  margin-right: auto;
}

#main-div {
  width: 100%;
}

#comments {
  margin-top: 50px;
}